<div class="titulo">
    <h1>Listado Alumnos</h1>
</div>

<div class="container-flex">

    <div class="list">
        <ol start="1">
            <li *ngFor="let alumnos of listaAlumnos" [ngClass]="alumnos.aprobado ? 'aprobo' : 'desaprobo'">
                {{alumnos.nombre}}</li>
        </ol>
    </div>

    <div class="colores">
        <p style="color: green;">APROBADO</p>
        <p style="color: red;">DESAPROBADO</p>
        <br>
        <img src="../../../assets/yellow.jpg">
        <p class="texto">Primer Año</p>
        <br>
        <br>
        <br>
        <img src="../../../assets/green.jpg">
        <p class="texto">Segundo Año</p>
        <br>
        <br>
        <br>
        <img src="../../../assets/blue.jpg">
        <p class="texto">Tercer Año</p>

    </div>

</div>