<div class="titulo">
    <h1>Listado Alumnos</h1>
</div>

<div class="container-flex">

    <div class="list">
        <ol start="1">
            <li *ngFor="let alumnos of listaAlumnos" [ngClass]="alumnos.aprobado ? 'aprobo' : 'desaprobo'">
                {{alumnos.nombre}}
                <div class="ingresante" *ngIf="alumnos.ingresante == true">lorem</div>
            </li>
        </ol>
    </div>

    <div class="colores">
        <p style="color: green;">APROBADO</p>
        <br>
        <p style="color: red;">DESAPROBADO</p>
        <br>
        <img src="../../../assets/yellow.jpg">
        <p class="texto">INGRESANTE</p>
    </div>

</div>